.option-container
{
  margin-top: 10px; 
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
} 

.option-container h1
{
  font-size: 30px;
  font-weight: 300;
  color: #F2931F;
}


.form-check {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.form-check-input {
  margin-right: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.create-form
{
  max-width: 600px;
  width: 100%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.container 
{
  padding-top: 2rem;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.container h1
{
  text-align: center;
  font-size: 30px;
}



  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="time"],
  input[type="url"],
  input[type="abbreviation"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 10px;
  }


  fieldset {
    margin: 10px 10px 20px 10px;
    border: none;
  }

  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    margin-top : 8px;
  }

  label.light {
    font-weight: 300;
    display: inline;
  }

  .number {
    background-color:#F2931F;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
    align-content: center;
  }

  .form-control-select {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 6px;
    height: 50px;
    border-radius: 2px;
}

  .form-control-select:focus {
    color: #495057;
    background-color: #fff;
    border-color: #F2931F;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(242, 147, 31, 0.25);
  }




  @media screen and (min-width: 480px) {

    form {
      max-width: 500px;
    }

  }
