.dashboard-container{
    display: grid;
    grid-template-areas: 'cards cards'
'students-chart classrooms-chart';
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 3.5rem;
    grid-area: cards;
}

.dashboard-card{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    background-color: #42D7F8;
    min-height: 8rem;
    min-width: 17rem;
    box-shadow: 0 0 10px 0 rgba(153,153,153,1);

    .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.3rem;
    }

    .right{
        display: flex;
        align-items: center;
    }

    & i {
        font-size: 3.75rem;
        line-height: 1;
    }

    & h1 {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin: 0;
    }

    & p{
        margin: 0;
    }
}

.dashboard-card:hover{
    cursor: pointer;
}

.students-chart{
    grid-area: students-chart;
    padding: 3rem;
    max-width: 30rem;
}

.classrooms-chart{
    grid-area: classrooms-chart;
    padding: 3rem;
    max-width: 30rem;
}

.charts {
    box-sizing: border-box;
}
