.student-card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: .2rem;
    margin-right: 5rem;
    align-content: center;
    justify-content: center;
    background: rgb(244, 247, 248);
    background: linear-gradient(90deg, rgba(244, 247, 248, 1) 0%, rgba(242, 147, 31, 0.13209033613445376) 100%);
    border-radius: 1rem;

    & h1 {
        font-size: 1.75rem;
        line-height: 2rem;
        color: #787878;
        font-weight: 500;
        text-align: center;
    }

    & input {
        padding: .5rem;
        border-radius: 0.5rem;
        background-color: var(--platinum);
        width: 20rem;
    }

    & select {
        padding: .5rem;
        border-radius: 0.5rem;
        background-color: var(--platinum);
        width: 20rem;
    }

    & label {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & img, & i {
        width: 5rem;
        font-size: 5rem;
        margin-bottom: 1.5rem;
        margin-top: 0.5rem;
    }

}

#buttonEdit {
    width: 60%;
    margin-top: 1rem;
    display: block;
    align-self: center;
}

#buttonSave {
    align-self: center;
    width: 60%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: block;
}

fieldset {
    display: flex;
    flex-direction: column;
}


#buttonCancel {
    align-self: center;
    width: 60%;
    background-color: #f44336;
}

.user-img {
    display: block;
    margin: 0 auto;
    max-width: 10rem;
}

td i {
    margin: 0 10px;
}

.grid-container {
    display: grid;
    grid-template-areas:
"chart details"
"evaluations evaluations";
    gap: 2rem;
    padding: 3rem;
    align-items: center;
}

.details-container {
    grid-area: details;
}

.chart-area {
    grid-area: chart;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.student-chart {
    width: 100% !important;
    max-width: 40rem !important;
    height: 20rem !important;
}

.evaluations-container {
    grid-area: evaluations;
}

td i:hover {
    color: #fff;
    cursor: pointer;
}

.selectForm {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    outline: none;
    background-color: #DFE3E6;
}

input[read-only] {
    background-color: #f1f1f1;
    opacity: 1;
    pointer-events: none;
}

input[readonly]:focus {
    outline: none;
}

.add-evaluation {
    margin: 1rem;
}

.user-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
